.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  background-color: #090135;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.menu a:hover {
  background-color: #131313; 
  color: rgb(250, 250, 250);
}

body{
   background-image: url(/fondo.jpg);
   background-size: cover;
}
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-align: center;
    color: midnightblue
    
}

.p1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
text-align: center;
background-color: blue;
border: 1px solid; width: 1100px; 
padding: 10px;
border-radius: 10px;
transform: translateX(116px);
color: black ;
}